body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: garamond;
}

a {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-links>* {
    margin-right: 20px;
}

.nav-name {
    text-align: center;
    position: relative;
    bottom: 45px;
}
