body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Comfortaa', cursive;
}

.pos-fix {
    position: fixed;
    width: 88%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-links>* {
    margin-right: 20px;
}

.nav-name {
    text-align: center;
    position: relative;
    bottom: 85px;
    font-weight: bolder;
    z-index: -1;
    background-color: white;
    padding: 40px 20px;
}

.fa-brands {
    color: black;
    font-size: larger;
    transition: .2s;
}

.fa-brands:hover {
    color: blue;
}

.resume {
    color: blue;
    font-weight: 300;
    text-decoration: none;
    border: 1px blue solid;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    transition: .2s;
}

.resume:hover {
    background-color: blue;
    color: white;
}

.phone {
    color: black;
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 20px;
    transition: .2s;
}

.phone:hover {
    color: blue;
}

.intro-div {
    display: flex;
    position: relative;
    top: 100px;
}

.my-face {
    margin-right: 60px;
    border-radius: 20px;
    transition: .2s;
}

.my-face:hover {
    border-radius: 0;
}

.hello {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hello2 {
    font-weight: lighter;
}

.small-intro {
    font-size: 50px;
    font-weight: bolder;
}


.tech-div {
    margin-top: 200px;
    text-align: center;
}

.techs {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.tech-img {
    width: 50px;
    transition: .5s;
}

.tech-img:hover {
    width: 55px;
}

/* TEXT BANNER */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#text-banner {
    display: none;
    position: absolute;
    bottom: -85px;
    animation: fadeIn .5s;
    text-align: center;
}

.indie-tech-div:hover>#text-banner {
    display: block;
}

/*  */

.project-div {
    text-align: center;
    margin-top: 100px;
}
